body {
	color: #000; /*586E75*/
	background:#FDF6E3;
}

#logo-icon {
float:left;
padding-top: 22px;
}
#logo-text {
float:left;
padding:20px;
}
#logo-text a {
color:#000;
text-decoration:none;
}
#logo-text a:hover {
color:#000;
text-decoration:underline;
}
#container {
width:800px;
margin:auto;
padding-bottom:30px;
}
code {
color:#FDF6E3;
line-height:38px;
font-size:18px;
}
h1, h2, h3, h4, h5, h6 {
	color:#000;
}
.subhead {
font-size:22px;
margin-top:15px;
margin-bottom:0px;
}
.desc {
font-size:22px;
margin-bottom:0px;
}
.subdesc {
background:#FDF6E3;
font-size:22px;
margin-bottom:0px;
}

.codedesc {
background:#586E75;
border-left:1px dashed #FDF6E3;
border-right:1px dashed #FDF6E3;
font-size:22px;
margin-bottom:0px;
}
.promo a {
color:#000;
padding-left:20px;
padding-top:14px;
margin-bottom:-20px;
float:right;
}
.promo a:hover {
color:#000;
padding-left:20px;
padding-top:14px;
float:right;
margin-bottom:-20px;
text-transform:none;
}
	p {
background: #EEE8D5;
clear:both;
padding: 0 20px 0 20px;
line-height: 42px;
text-shadow: -0px -0px black;
margin:10px 0 10px 0;
}
h1 {
	font-size: 64px;
	text-shadow: -0px -0px black;
	padding: 0;
	height: 50px;
}
h2 {
	font-size: 56px;
}
h3 {
	font-size: 48px;
}
h4 {
	font-size: 36px;
	margin-bottom:15px;
	clear:both;
	padding-top: 20px;
}
h5 {
	font-size: 32px;
	margin-bottom: 0px;
}

h6 {
	font-size: 24px;
}
