body {
	color: #000; /*586E75*/
	background:#FDF6E3;
}

#logo-icon {
float:left;
padding-top: 32px;
}
#logo-text {
float:left;
padding:20px;
}
#container {
width:800px;
margin:auto;
}
code {
background: #586E75;
color:#FDF6E3;
padding-left:10px;
border-left:10px dashed #000;
}
h1, h2, h3, h4, h5, h6 {
	color:#000;
}
.promo a {
color:#000;
padding-left:20px;
float:right;
}
.promo a:hover {
color:#000;
padding-left:20px;
padding-top:20px;
float:right;
text-transform:none;
}
	p {
background: #EEE8D5;
clear:both;
padding: 0 10px 0 10px;
line-height: 42px;
text-shadow: -0px -0px black;
}
h1 {
	font-size: 64px;
	text-shadow: -0px -0px black;
	padding: 0;
	height: 50px;
}
h2 {
	font-size: 56px;
}
h3 {
	font-size: 48px;
}
h4 {
	font-size: 40px;
	margin-bottom:15px;
	clear:both;
}
h5, body {
	font-size: 32px;
}
h6 {
	font-size: 24px;
}
